body {
    background: linear-gradient(to right, #c2e9fb, #a1c4fd);
    text-align: center;
    font-family: Arial, sans-serif;
} 
h1{
    color:darkblue;
}

   
button {
    width: 220px;
    padding: 20px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray; 
}
button:hover {
    background-color: lightblue;
    transform: scale(1.05);
}

#score {
    margin-top: 20px;
}
#option1 { background-color: #d4edda; }
#option2 { background-color: #f8d7da; }
#option3 { background-color: #fff3cd; }
#option4 { background-color: #d1ecf1; }
button {
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: #87ceeb;
}

h1 {
    color: #1a237e;
    font-size: 45px;
}